In [147]:
import pandas as pd
import numpy as np

#альтернативный вариант конверта дат (выключен, т.к. даты конвертируются на ходу в read_csv)
dtcolumns=['date_op','req_date_time','ont_time_write','dvs'] #нужные колонки с датами (есть и другие, повторяющиеся)
# def convdatetime(x):
#     qq=[pd.to_datetime(x[col],format='%Y-%m-%d %H:%M:%S.%f') for col in dtcolumns]
#     return pd.DataFrame(qq)[0]
# df[dtcolumns]=df.apply(convdatetime,axis=1)

#все столбцы
hes='date_izm_nom;date_op;dornod_posl;dornod_prib202;dor_dis;dor_rasch;dvs;dvs_t;id;index_poezd;kds;kds_t;kod_nod;kod_sob;kod_sost_uch;kod_vida_sled;kop_okpv;kop_pmd;kop_prib202;kop_vmd;kpp_t;napr_posl;napr_prib202;nbe;nod_dis;nom_park;nom_poezd;nom_put;nom_vag;nom_vagon_st;nom_vag_op;nom_vag_st;oc_dis;ont_time_write;ppv_gruj;ppv_gruz_os;ppv_kkb;ppv_kon;ppv_mest;ppv_mest_nod;ppv_mo;ppv_nrp;ppv_por;ppv_rd;ppv_rp;ppv_svrf;ppv_tranz;ppv_tr_nod;ppv_xar_por;prob_grj;prob_por;prob_stan;pr_gtd;pr_kach;pr_op;pr_prom;pr_styk_posl;pr_styk_prib202;pr_vag_poezd;request_unq_seq;req_date_time;rgn_dis;rod_vag_uch;sluj_tip_edv;stan_dis;stan_nazn;stan_op;tip_edv;uns;uns_t;vid_dis_dor;vid_dis_stan;vnrp_iskl;vnrp_neisp;vnrp_ostal;vnrp_peres;vnrp_pod_iskl;vnrp_rezmps;vnrp_spec_tex;vnrp_zapmps'
hel=hes.split(';')
licol=[]
#определение номеров столбцов, которые будут конвертированы в даты
for ind,col in enumerate(hel):
    if col in dtcolumns:licol.append(ind)
print(licol)

In [ ]:
DIR='..\\..\\..\\..\\chunk\\'
#прочитать базу и распарсить даты
df=pd.read_csv(f'{DIR}VIVSD_ASOUP_V_OPER_V2.3DAYS.600000-616000.hashed.1.csv',sep=';',decimal='.',parse_dates=[1, 6, 33, 60])

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286408 entries, 0 to 286407
Data columns (total 80 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   date_izm_nom     11397 non-null   object
 1   date_op          286408 non-null  datetime64[ns]
 2   dornod_posl      286408 non-null  int64
 3   dornod_prib202   286408 non-null  int64
 4   dor_dis          286408 non-null  int64
 5   dor_rasch        286408 non-null  int64
 6   dvs              286408 non-null  datetime64[ns]
 7   dvs_t            286408 non-null  object
 8   id               286408 non-null  int64
 9   index_poezd      286408 non-null  int64
 10  kds              286408 non-null  int64
 11  kds_t            286408 non-null  int64
 12  kod_nod          286408 non-null  int64
 13  kod_sob          286408 non-null  int64
 14  kod_sost_uch     286408 non-null  int64
 15  kod_vida_sled    286408 non-null  int64
 16  kop_okpv         286408 non-null  int64
 17  kop_pmd          286408 non-null  int64
 18  kop_prib202      286408 non-null  int64
 19  kop_vmd          286408 non-null  int64
 20  kpp_t            286408 non-null  int64
 21  napr_posl        286408 non-null  int64
 22  napr_prib202     286408 non-null  int64
 23  nbe              286408 non-null  int64
 24  nod_dis          286408 non-null  int64
 25  nom_park         286408 non-null  int64
 26  nom_poezd        286408 non-null  int64
 27  nom_put          286408 non-null  int64
 28  nom_vag          286408 non-null  object
 29  nom_vagon_st     286408 non-null  int64
 30  nom_vag_op       286408 non-null  object
 31  nom_vag_st       286408 non-null  int64
 32  oc_dis           286408 non-null  int64
 33  ont_time_write   286408 non-null  datetime64[ns]
 34  ppv_gruj         286408 non-null  int64
 35  ppv_gruz_os      286408 non-null  int64
 36  ppv_kkb          286408 non-null  int64
 37  ppv_kon          286408 non-null  int64
 38  ppv_mest         286408 non-null  int64
 39  ppv_mest_nod     286408 non-null  int64
 40  ppv_mo           286408 non-null  int64
 41  ppv_nrp          286408 non-null  int64
 42  ppv_por          286408 non-null  int64
 43  ppv_rd           286408 non-null  int64
 44  ppv_rp           286408 non-null  int64
 45  ppv_svrf         286408 non-null  int64
 46  ppv_tranz        286408 non-null  int64
 47  ppv_tr_nod       286408 non-null  int64
 48  ppv_xar_por      286408 non-null  int64
 49  prob_grj         286408 non-null  int64
 50  prob_por         286408 non-null  int64
 51  prob_stan        286408 non-null  int64
 52  pr_gtd           286408 non-null  int64
 53  pr_kach          286408 non-null  int64
 54  pr_op            286408 non-null  int64
 55  pr_prom          286408 non-null  int64
 56  pr_styk_posl     286408 non-null  int64
 57  pr_styk_prib202  286408 non-null  int64
 58  pr_vag_poezd     286408 non-null  int64
 59  request_unq_seq  286408 non-null  int64
 60  req_date_time    286408 non-null  datetime64[ns]
 61  rgn_dis          286408 non-null  int64
 62  rod_vag_uch      286408 non-null  int64
 63  sluj_tip_edv     286408 non-null  int64
 64  stan_dis         286408 non-null  int64
 65  stan_nazn        286408 non-null  int64
 66  stan_op          286408 non-null  int64
 67  tip_edv          286408 non-null  int64
 68  uns              286408 non-null  int64
 69  uns_t            286408 non-null  int64
 70  vid_dis_dor      286408 non-null  int64
 71  vid_dis_stan     286408 non-null  int64
 72  vnrp_iskl        286408 non-null  int64
 73  vnrp_neisp       286408 non-null  int64
 74  vnrp_ostal       286408 non-null  int64
 75  vnrp_peres       286408 non-null  int64
 76  vnrp_pod_iskl    286408 non-null  int64
 77  vnrp_rezmps      286408 non-null  int64
 78  vnrp_spec_tex    286408 non-null  int64
 79  vnrp_zapmps      286408 non-null  int64
dtypes: datetime64[ns](4), int64(72), object(4)
memory usage: 174.8+ MB

In [170]:
#возможно нужные стольбцы
colsimportant=['stan_op', 'kop_vmd','nom_vag','date_op','req_date_time','ont_time_write', 'dvs',  'kop_okpv',   
         'index_poezd', 'kds', 
        'kod_sost_uch',      'kop_pmd', 'kop_prib202',      'nom_poezd', 'nom_put',
        'tip_edv','vid_dis_stan', 'pr_op', 'pr_prom',  'pr_vag_poezd',
        ]

#наверно ненужные столбцы:
# colstodrop=['date_izm_nom','dornod_posl','dornod_prib202','dor_dis','dor_rasch', 'id','kod_nod','kod_sob','kpp_t','napr_posl',
#        'napr_prib202','nbe','nod_dis', 'nom_park','oc_dis', 'ppv_gruj', 'ppv_gruz_os', 'ppv_kkb', 'ppv_kon','ppv_mest', 'ppv_mest_nod','ppv_mo',
#        'ppv_nrp','ppv_por','ppv_rd','ppv_rp','ppv_svrf', 'ppv_tranz','ppv_tr_nod', 'ppv_xar_por','prob_grj', 'prob_por', 'prob_stan',
#        'pr_gtd', 'pr_kach','pr_styk_posl','pr_styk_prib202','rgn_dis',  'sluj_tip_edv', 'stan_dis', 'stan_nazn','uns','uns_t','vid_dis_dor',
#        'vnrp_iskl', 'vnrp_neisp',
#        'vnrp_ostal', 'vnrp_peres', 'vnrp_pod_iskl', 'vnrp_rezmps',
#        'vnrp_spec_tex', 'vnrp_zapmps' 'dvs_t','kds_t','kod_vida_sled','request_unq_seq','rod_vag_uch','nom_vag_op','nom_vag_st','nom_vagon_st', ]
df_=df[colsimportant]

In [171]:
df_.head(3)

,stan_op,kop_vmd,nom_vag,date_op,req_date_time,ont_time_write,dvs,kop_okpv,index_poezd,kds,kod_sost_uch,kop_pmd,kop_prib202,nom_poezd,nom_put,tip_edv,vid_dis_stan,pr_op,pr_prom,pr_vag_poezd
0,602302,2,72 compresse,2020-07-24 00:01:00,2020-07-24 00:03:10.930,2020-07-24 00:03:53.940,2020-07-24 00:02:57,0,761602080537007,202,0,3,3,2134,2,0,0,0,0,1
1,606036,2,0828a706fa9dbe46a8e898c3de672078,2020-07-24 00:00:00,2020-07-24 00:03:10.930,2020-07-24 00:03:53.709,2020-07-24 00:02:44,0,605404660607607,200,0,2,0,8554,3,0,0,0,0,1
2,611405,18,39d73440ae5796cd70fda8ae4918eab8,2020-07-24 00:01:00,2020-07-24 00:03:10.930,2020-07-24 00:03:53.941,2020-07-24 00:01:59,99,611706766611405,410,1,0,0,4886,1,1,2,2,0,0

In [ ]:
#на какой станции больше всего событий
#df.stan_op.value_counts()
# dftmp=df[df.stan_op=611000]

In [ ]:
#сгруппировать по станции, номеру вагона и коду операции для сохранения начальных и конечных моментов времени
df_g=df_.groupby(['stan_op','kop_vmd','nom_vag']).agg(
date_op= pd.NamedAgg(column = 'date_op', aggfunc = 'min'),
req_date_time= pd.NamedAgg(column = 'req_date_time', aggfunc = 'min'),
ont_time_write = pd.NamedAgg(column = 'ont_time_write', aggfunc = 'max'))
df_g=df_g.reset_index()

#просто тест
# display(df_g[(df_g.stan_op==611000) & (df_g.nom_vag=='0001d6ad2ea5ffb29216abcf291fbcf1')],df_[(df_.stan_op==611000) & (df_.nom_vag=='0001d6ad2ea5ffb29216abcf291fbcf1')])

In [254]:
#в базе много дублированных значений, цель мержа оставить строки с первым упоминанием операции 3 и последним упоминанием операции 4
dftmp=pd.merge(df_,df_g,how='inner',on=['stan_op','kop_vmd','nom_vag']) 
#далее оставить из всех операций только 3 и 4, причем с условием первого упоминания 3 и последнего упоминания 4
dftmp=dftmp[(dftmp.kop_vmd==3) & (dftmp.req_date_time_x==dftmp.req_date_time_y) & (dftmp.date_op_x==dftmp.date_op_y) | (dftmp.kop_vmd==4) & (dftmp.ont_time_write_x==dftmp.ont_time_write_y)]
#удалить с префиксом _y , оставшиеся от мержа - они нужны были только для фильтрации, отсортировать
#для отдельно взятого вагона операция 3 всегда идет раньше чем 4
dftmp=dftmp.drop(['date_op_y',	'req_date_time_y',	'ont_time_write_y'],axis=1).sort_values(['nom_vag','date_op_x'],ascending=True) #где в выборку попали события висключения из поезда и включения в поезд
dftmp[:5]

,stan_op,kop_vmd,nom_vag,date_op_x,req_date_time_x,ont_time_write_x,dvs,kop_okpv,index_poezd,kds,kod_sost_uch,kop_pmd,kop_prib202,nom_poezd,nom_put,tip_edv,vid_dis_stan,pr_op,pr_prom,pr_vag_poezd
36764,608807,3,00000e8d3c41206f548e7052f144e6bc,2020-07-24 03:57:00,2020-07-24 03:58:58.234,2020-07-24 03:59:39.492,2020-07-24 03:58:41,0,623506014608807,203,1,4,0,3803,5,0,0,0,0,0
83318,611000,3,0001d6ad2ea5ffb29216abcf291fbcf1,2020-07-24 09:39:00,2020-07-24 09:41:42.446,2020-07-24 09:43:08.602,2020-07-24 09:40:52,0,621002259611000,203,3,4,0,2452,2,1,0,1,0,0
150609,611000,4,0001d6ad2ea5ffb29216abcf291fbcf1,2020-07-24 17:02:00,2020-07-25 16:16:00.194,2020-07-25 16:17:11.481,2020-07-24 17:04:13,0,611000139525407,2,3,5,0,2802,0,1,0,1,0,1
65264,613608,3,00028d69ccad88db0f34452b404cb795,2020-07-24 06:21:00,2020-07-24 06:43:06.150,2020-07-24 06:43:54.108,2020-07-24 06:41:29,0,584405061613608,203,2,4,0,3204,3,1,0,0,0,0
65219,613608,4,00028d69ccad88db0f34452b404cb795,2020-07-24 06:25:00,2020-07-25 14:19:09.640,2020-07-25 14:20:10.021,2020-07-24 06:42:27,0,613608381613805,2,2,5,0,3802,0,1,0,0,0,1

In [255]:
#для для каждой строки из всей выборки взять следующую строку - в ней будет инфа по тому же вагону для операции 4, т.к. всего оставлено операции 3 и 4
dftmp[['stan_op_','kop_vmd_','date_op_x_','nom_vag_']]=dftmp.shift(-1)[['stan_op','kop_vmd','date_op_x','nom_vag']] #взять предыдущую строку
#выкинуть строки, слепленные из разных вагонов и/или станций, останутся только одинаковые станция/вагон
dftmp=dftmp.query('nom_vag==nom_vag_ & stan_op==stan_op_' ).drop(['nom_vag_','stan_op_'], axis=1) #удалить строки, где попались вагоны с операцией без пары (3 без 4 или наоборот) и убрать столбец с проверочным номером

#вот итоговый искомый результат - время от начала операции 3(kop_vmd) до конца операции 4(kop_vmd_)
#по каждой строке все остальные столбцы актуальны на начало операции 3
dftmp['deltaTime_34']=dftmp.apply(lambda x: x.date_op_x_-x.date_op_x,axis=1)
dftmp

,stan_op,kop_vmd,nom_vag,date_op_x,req_date_time_x,ont_time_write_x,dvs,kop_okpv,index_poezd,kds,...,nom_poezd,nom_put,tip_edv,vid_dis_stan,pr_op,pr_prom,pr_vag_poezd,kop_vmd_,date_op_x_,deltaTime_34
83318,611000,3,0001d6ad2ea5ffb29216abcf291fbcf1,2020-07-24 09:39:00,2020-07-24 09:41:42.446,2020-07-24 09:43:08.602,2020-07-24 09:40:52,0,621002259611000,203,...,2452,2,1,0,1,0,0,4.0,2020-07-24 17:02:00,0 days 07:23:00
65264,613608,3,00028d69ccad88db0f34452b404cb795,2020-07-24 06:21:00,2020-07-24 06:43:06.150,2020-07-24 06:43:54.108,2020-07-24 06:41:29,0,584405061613608,203,...,3204,3,1,0,0,0,0,4.0,2020-07-24 06:25:00,0 days 00:04:00
107855,613805,3,00028d69ccad88db0f34452b404cb795,2020-07-24 10:35:00,2020-07-24 12:34:43.336,2020-07-24 12:35:00.640,2020-07-24 12:32:54,0,613608382613805,203,...,3206,5,1,0,0,0,0,4.0,2020-07-24 10:36:00,0 days 00:01:00
191861,610402,3,00028d69ccad88db0f34452b404cb795,2020-07-25 00:11:00,2020-07-25 17:36:05.598,2020-07-25 17:36:52.872,2020-07-25 01:03:10,0,613805002616108,203,...,904,4,1,0,0,0,0,4.0,2020-07-25 02:30:00,0 days 02:19:00
236457,611000,3,000f75871b8cc761e4412cdb2b9de362,2020-07-25 12:14:00,2020-07-25 19:35:38.258,2020-07-25 19:36:33.453,2020-07-25 12:14:32,0,525407012611000,203,...,2849,8,1,0,0,0,0,4.0,2020-07-25 12:55:00,0 days 00:41:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241798,611000,3,ffeb6aa17cb13b2cbe12570952666c71,2020-07-25 13:20:00,2020-07-25 19:50:03.765,2020-07-25 19:51:47.702,2020-07-25 13:24:55,0,612003384611000,203,...,3832,7,1,0,1,0,0,4.0,2020-07-25 14:10:00,0 days 00:50:00
113965,611000,3,ffefd15ad54f6aa637b514a993685fff,2020-07-24 13:10:00,2020-07-24 13:13:04.940,2020-07-24 13:13:17.900,2020-07-24 13:11:47,0,588001711611000,203,...,2002,5,1,0,0,0,0,4.0,2020-07-24 14:12:00,0 days 01:02:00
65256,613608,3,fff125cd2f63ae1897c4e5bfaf9454b6,2020-07-24 06:21:00,2020-07-24 06:43:06.150,2020-07-24 06:43:54.106,2020-07-24 06:41:29,0,584405061613608,203,...,3204,3,0,0,0,2,0,4.0,2020-07-25 10:31:00,1 days 04:10:00
42731,611000,3,fffde6604f27630cfc07fc0f50f3212b,2020-07-24 04:20:00,2020-07-24 04:35:40.802,2020-07-24 04:36:34.590,2020-07-24 04:33:34,0,657305835611000,203,...,2844,8,1,0,0,0,0,4.0,2020-07-24 14:10:00,0 days 09:50:00
210869,611000,3,ffff957751f15e712c9514626635401a,2020-07-25 05:37:00,2020-07-25 18:22:44.050,2020-07-25 18:23:43.629,2020-07-25 05:38:28,0,635607103611000,203,...,2840,5,1,0,0,0,0,4.0,2020-07-25 05:50:00,0 days 00:13:00

In [257]:
dftmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19645 entries, 83318 to 210869
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   stan_op           19645 non-null  int64
 1   kop_vmd           19645 non-null  int64
 2   nom_vag           19645 non-null  object
 3   date_op_x         19645 non-null  datetime64[ns]
 4   req_date_time_x   19645 non-null  datetime64[ns]
 5   ont_time_write_x  19645 non-null  datetime64[ns]
 6   dvs               19645 non-null  datetime64[ns]
 7   kop_okpv          19645 non-null  int64
 8   index_poezd       19645 non-null  int64
 9   kds               19645 non-null  int64
 10  kod_sost_uch      19645 non-null  int64
 11  kop_pmd           19645 non-null  int64
 12  kop_prib202       19645 non-null  int64
 13  nom_poezd         19645 non-null  int64
 14  nom_put           19645 non-null  int64
 15  tip_edv           19645 non-null  int64
 16  vid_dis_stan      19645 non-null  int64
 17  pr_op             19645 non-null  int64
 18  pr_prom           19645 non-null  int64
 19  pr_vag_poezd      19645 non-null  int64
 20  kop_vmd_          19645 non-null  float64
 21  date_op_x_        19645 non-null  datetime64[ns]
 22  deltaTime_34      19645 non-null  timedelta64[ns]
dtypes: datetime64[ns](5), float64(1), int64(15), object(1), timedelta64[ns](1)
memory usage: 3.6+ MB

In [258]:
#т.о. таблица dftmp содержит данные по станции,вагону, 
# все характеристики на начальный момент операции 3(вагон отцепили и оставили для дальнейших действий) 
#  и промежуток времени deltaTime_34, прошедший от начала операции 3 до окончания операции 4(вагон прицепили и он готов куда-то перемещаться)
VERSION='_11_44'
dftmp.to_csv(f'таблица-время34{VERSION}.csv')